@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins';
}

body{
  background-color: #101120;
}

.log{
  font-family: 'Parchment';
}

.mobile-nav{
  box-shadow: 5px 5px 5px #101120,
             -8px -8px 16px #c9c9c9e2;
}


.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
